Repository minh-vv/nmAI_Spam_filter, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, publishing, github-actions, tests, models, training

update gui
  requirements.txt
  spam_detector_ai/chayprj.py
  spam_detector_ai/gui.py
  spam_detector_ai/models/bayes/naive_bayes_vectoriser.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_model.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_vectoriser.joblib
  spam_detector_ai/models/random_forest/random_forest_vectoriser.joblib
  spam_detector_ai/models/svm/svm_vectoriser.joblib
  spam_detector_ai/models/xgb/xgb_vectoriser.joblib
Labels: dependencies, models

add some comment
  spam_detector_ai/classifiers/naive_bayes_classifier.py
  spam_detector_ai/models/bayes/naive_bayes_model.joblib
  spam_detector_ai/models/bayes/naive_bayes_vectoriser.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_model.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_vectoriser.joblib
  spam_detector_ai/models/random_forest/random_forest_vectoriser.joblib
  spam_detector_ai/models/svm/svm_model.joblib
  spam_detector_ai/models/svm/svm_vectoriser.joblib
  spam_detector_ai/models/xgb/xgb_model.joblib
  spam_detector_ai/models/xgb/xgb_vectoriser.joblib
  spam_detector_ai/training/train_models.py
Labels: models, training

update gui
  spam_detector_ai/gui.py
  spam_detector_ai/models/bayes/naive_bayes_vectoriser.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_model.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_vectoriser.joblib
  spam_detector_ai/models/random_forest/random_forest_vectoriser.joblib
  spam_detector_ai/models/svm/svm_vectoriser.joblib
  spam_detector_ai/models/xgb/xgb_vectoriser.joblib
  spam_detector_ai/tests/test.py
Labels: models

cmt something
  spam_detector_ai/gui.py
Labels: none

remove svm and xgboost
  spam_detector_ai/classifiers/classifier_types.py
  spam_detector_ai/classifiers/svm_classifier.py
  spam_detector_ai/classifiers/xgb_classifier.py
  spam_detector_ai/prediction/predict.py
  spam_detector_ai/trainer.py
  spam_detector_ai/training/train_models.py
Labels: training

revert "remove svm and xgboost"
  spam_detector_ai/classifiers/classifier_types.py
  spam_detector_ai/classifiers/svm_classifier.py
  spam_detector_ai/classifiers/xgb_classifier.py
  spam_detector_ai/prediction/predict.py
  spam_detector_ai/trainer.py
  spam_detector_ai/training/train_models.py
Labels: training

remove log and xgb
  spam_detector_ai/classifiers/classifier_types.py
  spam_detector_ai/classifiers/logistic_regression_classifier.py
  spam_detector_ai/classifiers/xgb_classifier.py
  spam_detector_ai/models/bayes/naive_bayes_vectoriser.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_model.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_vectoriser.joblib
  spam_detector_ai/models/random_forest/random_forest_vectoriser.joblib
  spam_detector_ai/models/svm/svm_vectoriser.joblib
  spam_detector_ai/models/xgb/xgb_model.joblib
  spam_detector_ai/models/xgb/xgb_vectoriser.joblib
  spam_detector_ai/prediction/predict.py
  spam_detector_ai/trainer.py
  spam_detector_ai/training/train_models.py
Labels: models, training

3 tt
  requirements.txt
  spam_detector_ai/classifiers/svm_classifier.py
  spam_detector_ai/classifiers/xgb_classifier.py
  spam_detector_ai/gui.py
  spam_detector_ai/models/bayes/naive_bayes_model.joblib
  spam_detector_ai/models/bayes/naive_bayes_vectoriser.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_model.joblib
  spam_detector_ai/models/logistic_regression/logistic_regression_vectoriser.joblib
  spam_detector_ai/models/random_forest/random_forest_vectoriser.joblib
  spam_detector_ai/prediction/performance.py
  spam_detector_ai/prediction/predict.py
  spam_detector_ai/tests/py_test.py
  spam_detector_ai/tests/test.py
  spam_detector_ai/trainer.py
  spam_detector_ai/training/train_models.py
  spam_detector_ai/tuning/fine_tuning_svm.py
  spam_detector_ai/tuning/fine_tuning_xgb.py
Labels: dependencies, models, training

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - LICENSE
          - "docs/**/*"
          - "screenshots/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements.txt
          - requirements-dev.txt

publishing:
  - changed-files:
      - any-glob-to-any-file:
          - check_version.py
          - setup.py
          - MANIFEST.in
          - setup.cfg

github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "spam_detector_ai/test_and_tuning/**/*"

models:
  - changed-files:
      - any-glob-to-any-file:
          - "spam_detector_ai/models/**/*"

training:
  - changed-files:
      - any-glob-to-any-file:
          - "spam_detector_ai/training/**/*"
          - "spam_detector_ai/data/**/*"
          - "spam_detector_ai/classifiers/**/*"
          - "spam_detector_ai/prediction/**/*"
          - "spam_detector_ai/loading_and_processing/**/*"

feature:
  - head-branch: [ '^feature', 'feature' ]

bug:
  - head-branch: [ '^bug', 'bug' ]

fix:
  - head-branch: [ '^fix', 'fix' ]

bugfix:
  - head-branch: [ '^bugfix', 'bugfix' ]

chore:
  - head-branch: [ '^chore', 'chore' ]

maintenance:
  - head-branch: [ '^maintenance', 'maintenance' ]

security-fixes:
  - head-branch: [ '^security', 'security' ]
